
<div class="offset-3" style="margin-top: 15%;">
  <a href="/posts?membertype=1">
    <div class="supply">
      <center>공급자<br/><br/>
      <small class="tip" style="display: none; font-size: 12px;">#공급자 보러가기</small></center>
    </div>
  </a>
  <a href="/posts?membertype=2" >
    <div class="customer">
      <center>수요자<br/><br/>
      <small class="tip" style="display: none; font-size: 12px;">#서비스 문의 하기</small></center>
      </div>
  </a>
</div>
<script>
  $(document).ready(function(){
    $(".tip").fadeIn("slow");
    
  });
</script>
