.logo{
      font-family: 'designhouseOTFLight00';
      font-size: 45px;
      color: #BCE27F;
      background-color: rgba(0,0,0,0);
      margin-top: 10px;
    }
    .logo:hover{
      color: #BCE27F;
      text-decoration: none;
      background-color: rgba(255,255,255,0);
    }
    #mainNav{
     position: fixed;

    }
    #form{
      font-family: 'SeoulHangangM';
    }
    .form-group{
      margin-bottom: 5%;
    }
    .custom-control{
      margin-top: 3%;
    }
    .login-container{
        width:50%;
        height: 80%;
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 1%;
        border-style: solid;
        border-color: #96B566;
        background-color: #ffffff;
        text-align: center;
        display: none;
    }
    .form-control{
      height: 6%;
    }
    
    .signUp-container{
      margin-top: 8%;
      height: 90%;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      display: flex;
      flex-direction: row;
    }
    
    #signupImg{
      width: 50%;
      height: 100%;
      margin-right: 5%;
    }
    .sup-form-container{
      height: 100%;
       display: -webkit-flex;
      -webkit-flex-direction: column;
      display: flex;
      flex-direction: column;
    }
    .form-inputs, .form-actions{
      text-align: center;
      width: 50%;
      margin-bottom: 5%;
    }
    .supply, .customer{
      width: 30%;
      float: left;
      margin-right: 10%;
      padding: 50px; 
      background-color: #BCE27F; 
      font-family: 'SeoulHangangM'; 
      font-size: 30px;
      color: white ;
      border: 2px solid;
      border-color: #96B566; 
      border-radius:30px;
    }
    
    a.supply:visited, a.customer:visited{
      color: white;
    }
    a:hover{
      background-color: rgba(0,0,0,0);
    }
    a.btn:hover{
      background-color:#96B566;
    }
    .supply:hover, .customer:hover{
      background-color: #BCE27F; 
      color: white ;
      text-decoration: none;
    }
    .links:visited{
      color: #000000 !important;
    }
    .content-area{
      min-height:300px;
    }
    .btn{
      background-color: #96B566;
      outline: none;
    }
    .btn:active{
      outline:none;
    }
    /*리뷰부분 css*/
    .review-card{
      border: 1px solid lightgray;
      border-radius: 30px;
      margin-top: 3%;
      width: 50%;
      max-height: 80%;
      padding: 4%;
    }
    a.review-card:hover{
      opacity:0.7;
      background-color: rgba(234,234,234,0.8);
    }
    .show-container{
      width: 50%;
      max-height: 100%;
      padding: 15px;
      border: 1px solid #BCE27F;
      border-radius: 10px;
    }
    /*공급자 카드*/
    .post-body{
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		display: flex;
		flex-wrap: wrap;
		margin-top: 10%;
		margin-left: 15%; 
	}
	.supply-card{
		border: 1px solid #C3C3C3;
		position: relative;
		width: 250px;
		margin: 1%;
		text-align: center
	}
	.profile-img{
	  max-width: 200px;
	  max-height: 200px;
	  min-width: 200px;
	  min-height: 200px;
		border-radius: 180px;
		margin-top: 7%;
		margin-bottom: 3%; 
		background-color: white;
		box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	}
	.like-worst-label{
	  width: 40%;
	  padding: 2%;
	  margin-right: 2%;
	  border: 1px solid #C3C3C3;
	  border-radius: 180px;
	}	
	#supply-inform{
		padding: 3%;
		margin: 2%;
	}
	#like-worst{
		padding: 3%;
		margin: 2%;
	}
	#image-section-padding{
		background-color: #BCE27F;
	}