
<div class="review-form offset-md-3 col-md-6">

    <%= render 'form' %>

    <center><%= link_to 'Back', reviews_path %></center>

</div>
<script>
    $(document).ready(function(){
        $(".review-form").css("margin-top","7%");
    });
    
</script>
